In [1]:
import pandas as pd

In [3]:
gencode = pd.read_table("/Users/ninaxiong/Downloads/gencode.vM25.annotation.gff3", comment="#",
                        sep = "\t", names = ['seqname', 'source', 'feature', 'start' , 'end', 'score', 'strand', 'frame', 'attribute'])
gencode.head()

,seqname,source,feature,start,end,score,strand,frame,attribute
0,chr1,HAVANA,gene,3073253,3074322,.,+,.,ID=ENSMUSG00000102693.1;gene_id=ENSMUSG0000010...
1,chr1,HAVANA,transcript,3073253,3074322,.,+,.,ID=ENSMUST00000193812.1;Parent=ENSMUSG00000102...
2,chr1,HAVANA,exon,3073253,3074322,.,+,.,ID=exon:ENSMUST00000193812.1:1;Parent=ENSMUST0...
3,chr1,ENSEMBL,gene,3102016,3102125,.,+,.,ID=ENSMUSG00000064842.1;gene_id=ENSMUSG0000006...
4,chr1,ENSEMBL,transcript,3102016,3102125,.,+,.,ID=ENSMUST00000082908.1;Parent=ENSMUSG00000064...

In [4]:
gencode_genes = gencode[(gencode.feature == "gene")][['seqname', 'start', 'end', 'attribute']].copy().reset_index().drop('index', axis=1)
gencode_genes.head()

  seqname    start      end                                          attribute
0    chr1  3073253  3074322  ID=ENSMUSG00000102693.1;gene_id=ENSMUSG0000010...
1    chr1  3102016  3102125  ID=ENSMUSG00000064842.1;gene_id=ENSMUSG0000006...
2    chr1  3205901  3671498  ID=ENSMUSG00000051951.5;gene_id=ENSMUSG0000005...
3    chr1  3252757  3253236  ID=ENSMUSG00000102851.1;gene_id=ENSMUSG0000010...
4    chr1  3365731  3368549  ID=ENSMUSG00000103377.1;gene_id=ENSMUSG0000010...

In [5]:
def gene_info(x):
    # Extract gene names
    g_name = list(filter(lambda x: 'gene_name' in x,  x.split(";")))[0].split("=")[1]
    g_id = list(filter(lambda x: 'ID' in x,  x.split(";")))[0].split("=")[1]
    return (g_name, g_id)

In [6]:
gencode_genes["gene_name"], gencode_genes["gene_id"] = zip(*gencode_genes.attribute.apply(lambda x: gene_info(x)))
# gencode_genes["gene_id"] = gencode_genes["gene_id"].str.extract("(.+)\.")
gencode_genes = gencode_genes.set_index("gene_id").drop("attribute", axis=1)
gencode_genes.head()

                     seqname    start      end      gene_name
gene_id
ENSMUSG00000102693.1    chr1  3073253  3074322  4933401J01Rik
ENSMUSG00000064842.1    chr1  3102016  3102125        Gm26206
ENSMUSG00000051951.5    chr1  3205901  3671498           Xkr4
ENSMUSG00000102851.1    chr1  3252757  3253236        Gm18956
ENSMUSG00000103377.1    chr1  3365731  3368549        Gm37180

In [7]:
gencode_genes.to_csv("../data/gene_locations.tsv", sep="\t")